body {
    margin: 0;

    font-family: 'Dosis', sans-serif;
    color: #6c7279;
}

*, 
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.intro {
    height: 745px;

    background: url("img/intro/intro-bg.jpg") center no-repeat;
    background-size: cover;
}

.header {
    margin-bottom: 245px;
    padding-top: 40px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item {
    margin: 0 65px;

    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.intro__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__title {
    margin-bottom: 15px;

    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 10px;
}

.intro__subtitle {
    margin-bottom: 30px;

    font-size: 37px;
    color: #fff;
}

.btn {

    display: inline-block;
    vertical-align: top;
    padding: 17px 50px;

    text-align: center;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    
    background-color: #16a085;
    border: 0;
    border-radius: 5px;

    cursor: pointer;
}

.photoapp {
    padding: 110px 0 90px;

    background: url("img/photoapp/phototime_02.jpg") center no-repeat;
    background-size: cover;
}

.photoapp__inner {
    width: 435px;
}

.section__title {
    margin-bottom: 45px;

    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #16a085;
}

.section__text {
    margin-bottom: 45px;

    font-size: 20px;
}


.design {
    padding: 110px 0 70px;

    background: url("img/design/design-bg.jpg") center no-repeat;
    background-size: cover;
}

.design__inner {
    padding-left: 640px;
}

.section__title {
    margin-bottom: 45px;

    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #16a085;
}

.section__text {
    margin-bottom: 45px;

    font-size: 20px;
}

.community {
    height: 790px;
    background: url("img/community/community-bg.jpg") center no-repeat;
    background-size: cover;
}

.community__inner {
    padding: 350px 0 325px;

    text-align: center;
}

.community__title {
    margin-bottom: 30px;

    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.community__input {
    padding: 20px 0 20px 20px;
    width: 340px;

    border-radius: 3px;
    border: 0;
    outline: 0;
}

.community__input::placeholder {
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
}
